h2 {
    margin-top: 40px;
}

table {
    border: 1px solid black;
}

td {
    padding: 5px;
    border: 1px solid black;
    text-align: center;
}

.error {
    color: red;
}

.success {
    color: green;
}
